@using LibraryApp.Models;
@model List<BookModel>
    @{ 
        Layout = null;
    }

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Number of pages</th>
            <th>Name of publisher</th>
            <th>Year of publications</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (BookModel book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>
                @if (book.Authors != null)
                {
                    foreach (AuthorModel author in book.Authors)
                    {
                        <p>@author.FirstName @author.LastName</p>
                    }
                }
            </td>
            <td>@book.NumberOfPages</td>
            <td>@book.Publisher</td>
            <td>@book.YearOfPublication.Year</td>
            <td>@book.Image</td>
            <td>@Ajax.ActionLink("Delete", "Delete","Home", new { id = book.Id }, new AjaxOptions {HttpMethod= "GET",InsertionMode=InsertionMode.Replace,UpdateTargetId= "books-table" })</td>
        </tr>
    }
</table>