@using LibraryApp.Models;
@model BookModel

@{
    Layout = null;
}
@{HtmlHelper.UnobtrusiveJavaScriptEnabled = true;}
<td>
    <div>
        @using (Ajax.BeginForm("Edit", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "book-" + Model.Id }, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <div class="editor-field">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.LabelFor(model => model.Authors)

                    <br />
                    @for (int i = 0; i < Model.Authors.Count(); i++)
                    {
                        @Html.LabelFor(m => m.Authors[i].FirstName)
                        @Html.EditorFor(m => m.Authors[i].FirstName)
                        @Html.ValidationMessageFor(m => m.Authors[i].FirstName, "", new { @class = "text-danger" })

                        @Html.LabelFor(m => m.Authors[i].LastName)
                        @Html.EditorFor(m => m.Authors[i].LastName)
                        @Html.ValidationMessageFor(m => m.Authors[i].LastName, "", new { @class = "text-danger" })
                    }

                    @Html.Action("AddAuthor", "Home", new { quantity = Model.Authors.Count(), controlId = Model.Id })


                </div>
                <div class="editor-field">
                    @Html.LabelFor(model => model.NumberOfPages)
                    @Html.EditorFor(model => model.NumberOfPages)
                    @Html.ValidationMessageFor(model => model.NumberOfPages, "", new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.LabelFor(model => model.Publisher)
                    @Html.EditorFor(model => model.Publisher)
                    @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.LabelFor(model => model.YearOfPublication)
                    @Html.EditorFor(model => model.YearOfPublication)
                    @Html.ValidationMessageFor(model => model.YearOfPublication, "", new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.LabelFor(model => model.Image)
                    <input type="file" name="Image" class="input-files" />
                </div>
            </fieldset>
            <input type="submit" value="Update" />
        }
    </div>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>